<h1><%= @room.title %></h1>

<div id="room_messages"
  data-channel-subscribe="room"
  <%= render @room.messages %>
</div>

<div id="post_msg">
</div>

<%= render partial: 'messages/message_form', locals: {message: @message, room: @room}%>
